<div class="container">
    <div class="row">

        {{#if msg}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Datos Guardados!</strong> {{mensaje}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{mensaje}}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}

        {{#if advertencia}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Advertencia!</strong> {{mensaje}}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        <div class="col-md-12">
            <div class="card">
                <br>
                <div class="card-header">
                    <h1 class="text-center">Productos</h1>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="post" novalidate>
                        <div class="container">
                            <div class="row align-items-start">
                                <div class="col">
                                    <div class="col-md-9 mb-3">
                                        <label for="txtNombreProducto">Nombre dek Producto</label>
                                        <input type="text" class="form-control" name="txtNombreProducto"
                                            placeholder="Ingrese el nombre del producto" required>
                                        <div class="valid-feedback">
                                            ¡Se ve bien!
                                        </div>
                                          <div class="invalid-feedback">
                                            Campo Obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-md-9 mb-3">
                                        <label for="txtCantidad">Cantidad</label>
                                        <input type="number" class="form-control" name="txtCantidad"
                                            placeholder="Ingrese la cantidad" required>
                                        <div class="valid-feedback">
                                            ¡Se ve bien!
                                        </div>
                                        <div class="invalid-feedback">
                                            Campo Obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-md-9 mb-3">
                                        <label for="txtPrescioEst">Precio Estandar</label>
                                        <input type="number" class="form-control" name="txtPrecioEst"
                                            placeholder="Ingrese el precio Estandar" required>
                                        <div class="valid-feedback">
                                            ¡Se ve bien!
                                        </div>
                                        <div class="invalid-feedback">
                                            Campo Obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="col-md-9 mb-3">
                                        <label for="cmbCategoria">Categoria</label>
                                        <div class="input-group">
                                            <select class="form-select" name="cmbCategoria" id="cmbCategoria">
                                                 {{#each ListarCategorias}}
                                                <option value="{{this.dataValues.idCategoria}}">{{this.dataValues.descripcionCategoria}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-md-9 mb-3">
                                        <label for="cmbModelo">Modelo</label>
                                        <div class="input-group">
                                            <select class="form-select" name="cmbModelo" id="cmbModelo">
                                                {{#each ListarModelos}}
                                                <option value="{{this.dataValues.idModelo}}">{{this.dataValues.descripcionModelo}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-md-9 mb-3">
                                        <label for="cmbEstado">Estado</label>
                                        <div class="input-group">
                                            <select class="form-select" name="cmbEstado" id="cmbEstado">
                                                <option value="1">Habilitado</option>
                                                <option value="2">Deshabilitado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                 <div class="col">
                                    <div class="col-md-11 mb-3">
                                        <label for="txtPrescioVenta">Precio Venta</label>
                                        <input type="number" class="form-control" name="txtPrecioVenta"
                                            placeholder="Ingrese el precio de venta del producto" required>
                                        <div class="valid-feedback">
                                            ¡Se ve bien!
                                        </div>
                                        <div class="invalid-feedback">
                                            Campo Obligatorio
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row align-items-center">
                                 <div class="col">
                                    <div class="col-md-11 mb-3">
                                        <label for="txtDescripcion">Descripción de Producto</label>
                                       
                                        <textarea name="txtDescripcion" id="txtDescripcion" placeholder="Escriba la descripcion del Producto" class="form-control" cols="5" rows="3"  required ></textarea>
                                        <div class="valid-feedback">
                                            ¡Se ve bien!
                                        </div>
                                        <div class="invalid-feedback">
                                            Campo Obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-center">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-secondary">Modificar</button>
                                <button type="reset" class="btn btn-success">Limpiar</button>
                            </p>


                        </div>
                    </form>

                    <br>
                    <br>
                    <table class="table table-bordered border-primary">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Categoria</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each ListaProductos}}
                            <tr>
                                <td scope="row">{{this.num}}</td>
                                <td scope="row">{{this.nombre}}</td>                                
                                <td scope="row">{{this.modelo}}</td>  
                                <td scope="row">{{this.marca}}</td> 
                                <td scope="row">{{this.categoria}}</td>   
                                <td scope="row">{{this.cantidad}}</td>  
                                <td scope="row">{{this.precio}}</td> 
                                <td scope="row">{{this.estado}}</td>   
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                        </button>
                                        &nbsp;
                                        &nbsp;
                                        <button type="button" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                                                <path
                                                    d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z" />
                                            </svg></button>

                                    </div>
                                </td>

                            </tr>
                            {{/each}}


                        </tbody>
                    </table>
                    <script>


                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {


                            'use strict';
                            window.addEventListener('load', function () {


                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();



                    </script>
                </div>
            </div>
        </div>
    </div>
</div>